@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
body {
  font-family: "Tajawal", sans-serif;
  line-height: 1.6;
  direction: rtl;
  overflow-x: hidden;
}

.home-container {
  width: 100%;
  color: #111;
  z-index: 3;
  overflow-x: hidden;
}

.home-container main {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.home-container main section {
  z-index: 2;
}

/* the first section */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:  4.5rem;
  height: 80vh;
  position: relative;
}

.hero-section img {
  left: -10%;
  width: 45%;
  height: 100%;
  object-fit: scale-down;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
}

.hero-section h1 {
  font-size: 4.5rem;
  /* i add 0 margin here becusae there is conflict between css files */
  margin: 0px;
}

.hero-section p {
  font-size: 2.5rem;
  color: #0f3f64;
  /* i add 0 margin here becusae there is conflict between css files */
  margin: 0;
}

section a {
  width: 30%;
  height: 6%;
}

.hero-section button {
  width: 40%;
  height: 100%;
  background: #00b0f4;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s !important;
  /* i add 0 margin here becusae there is conflict between css files */
  margin: 0;
}

.hero-section button:hover {
  background-color: white;
  color: #00b0f4;
  border: 1px solid #00b0f4;
}

/* section tow "mission-section" */

.mission-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 40vh;
}

.mission-section h2 {
  font-size: 3rem;
  font-weight: 500;
}

.mission-section p {
  text-align: center;
  font-size: 2rem;
  color: #0f3f64;
}

/* section three and five */
/* i add section five with three because its same stractur and element */

.objectives-section,
.values-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;

}

.objectives-section hgroup,
.values-section hgroup {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.objectives-section h2,
.values-section h2 {
  font-size: 2rem;
}

.objectives-section ul,
.values-section ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.objectives-section ul li,
.values-section ul li {
  font-size: 1.5rem;
  color: #0f3f64;
  margin: 0 3.5% 0 0;
}

.objectives-section button,
.values-section button {
  width: 100%;
  height: 3rem;
  background: #00b0f4;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s !important;
}
.objectives-section button:hover,
.values-section button:hover {
  background-color: white;
  color: #00b0f4;
  border: 1px solid #00b0f4;
  transform: translateY(-5px);
}

/* section four */

.vision-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  height: 70vh;
}

.vision-section hgroup {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.vision-section button {
  width: 100%;
  height: 3rem;
  background: white;
  color: #00b0f4;
  border: 1px solid #00b0f4;
  border-radius: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.vision-section button:hover {
  background-color: #00b0f4;
  color: white;
  border: 1px solid #00b0f4;
  transform: translateY(-5px);
}
.vision-section hgroup h2 {
  font-size: 32px;
}
.vision-section hgroup p {
  font-size: 24px;
}

/* six section activities section */

.activities-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 70vh;
}

.activities-section h2 {
  font-size: 3rem;
}

.activities-section div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 100%;
  background: #110e39;
  border-radius: 2rem;
  color: aliceblue;
  padding: 50px;
}
.activities-section div img {
  height: 90%;
  pointer-events: none;
}

.activities-section div h3 {
  font-size: 2rem;
  position: relative;
  right: 30px;
}

.activities-section div h3::after {
  content: "};";
  opacity: 0.3;
  font-size: 6rem;
  position: absolute;
  left: -55px;
  bottom: -45px;
}

.activities-section div h3::before {
  content: "{";
  opacity: 0.3;
  font-size: 6rem;
  position: absolute;
  right: -30px;
  top: -55px;
}

.activities-section hgroup {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10%;
  flex-direction: column;
}
.activities-section div ul {
  padding: 0 25px;
}

.activities-section div li {
  font-size: 24px;
}

/* global classes */
.linearSpan {
  background: linear-gradient(90deg, #00668e, #00b0f4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.secondary-button {
  width: 14%;
  height: 6%;
  background: #00b0f4;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.secondary-button:hover {
  background-color: white;
  color: #00b0f4;
  border: 1px solid #00b0f4;
}

/* glows */

.glows {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  
}
.glows div {
  width: 1000px;
  height: 1000px;
  border-radius:300px;
  background: radial-gradient(circle, #00aff463, transparent, transparent);
  position: absolute;
  z-index: 1;
  bottom: 0;
  transform-origin: left;
}

/* section one */
.glows div:nth-child(1) {
  top: 3%;
  left: -25%;
  background: radial-gradient(circle, #0058A083, transparent, transparent);
}
.glows div:nth-child(2) {
  top: -50%;
  right: -40%;
}

/* section tow */
.glows div:nth-child(3) {
  bottom: -45%; 
  right: -40%;
  background: radial-gradient(circle, #0058a083, transparent, transparent);
}

.glows div:nth-child(4) {
  bottom: -65%;
  left: -30%;
}

/* section three */
.glows div:nth-child(5) {
  bottom: -140%;
  right: -40%;
  background: radial-gradient(circle, #00BDC183, transparent, transparent);
}

.glows div:nth-child(6) {
  bottom: -145%;
  left: -30%;
  background: radial-gradient(circle, #4285F483, transparent, transparent);
}

/* section four */
.glows div:nth-child(7) {
  bottom: -190%;
  right: -40%;
  background: radial-gradient(circle, #0058A083, transparent, transparent);
}

.glows div:nth-child(8) {
  bottom: -210%;
  left: -25%;
}

/* section five */
.glows div:nth-child(9) {
  bottom: -265%;
  right: -40%;
  background: radial-gradient(circle, #00BDC183, transparent, transparent);
}

.glows div:nth-child(10) {
  bottom: -275%;
  left: -30%;
  background: radial-gradient(circle, #4285F483, transparent, transparent);
}

/* section six */
.glows div:nth-child(11) {
  max-height: 500px;
  bottom: -315%;
  right: -40%;
  background: radial-gradient(circle, #0058A083, transparent, transparent);
}

.glows div:nth-child(12) {
  max-height: 500px;
  bottom: -315%;
  left: -30%;
}
