@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");

body {
  font-family: "Tajawal", sans-serif;
  line-height: 1.6;
  direction: rtl;
  overflow-x: hidden;
  position: relative;
}

#root {
  position: relative;
}

.home-container {
  width: 100%;
  color: #111;
  z-index: 3;
  overflow-x: hidden;
}

.home-container main {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.home-container main section {
  z-index: 2;
}

/* the first section */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.5rem;
  height: 80vh;
  position: relative;
}

.hero-section img {
  left: -10%;
  width: 45%;
  height: 100%;
  object-fit: scale-down;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
}

.hero-section h1 {
  font-size: 4.5rem;
  /* i add 0 margin here becusae there is conflict between css files */
  margin: 0px;
}

.hero-section p {
  font-size: 2.5rem;
  color: #0f3f64;
  /* i add 0 margin here becusae there is conflict between css files */
  margin: 0;
}

section a {
  width: 30%;
  height: 6%;
}

.hero-section button {
  width: 40%;
  height: 100%;
  background: #00b0f4;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s !important;
  /* i add 0 margin here becusae there is conflict between css files */
  margin: 0;
}

.hero-section button:hover {
  background-color: white;
  color: #00b0f4;
  border: 1px solid #00b0f4;
}

/* section tow "mission-section" */

.mission-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 40vh;
}

.mission-section h2 {
  font-size: 3rem;
  font-weight: 500;
}

.mission-section p {
  text-align: center;
  font-size: 2rem;
  color: #0f3f64;
}

/* section three and five */
/* i add section five with three because its same stractur and element */

.objectives-section,
.values-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}

.objectives-section hgroup,
.values-section hgroup {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.objectives-section h2,
.values-section h2 {
  font-size: 2rem;
}

.objectives-section ul,
.values-section ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.objectives-section ul li,
.values-section ul li {
  font-size: 1.5rem;
  color: #0f3f64;
  margin: 0 3.5% 0 0;
}

.objectives-section button,
.values-section button {
  width: 100%;
  height: 3rem;
  background: #00b0f4;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s !important;
}
.objectives-section button:hover,
.values-section button:hover {
  background-color: white;
  color: #00b0f4;
  border: 1px solid #00b0f4;
  transform: translateY(-5px);
}

/* section four */

.vision-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  height: 70vh;
}

.vision-section hgroup {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.vision-section button {
  width: 100%;
  height: 3rem;
  background: white;
  color: #00b0f4;
  border: 1px solid #00b0f4;
  border-radius: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.vision-section button:hover {
  background-color: #00b0f4;
  color: white;
  border: 1px solid #00b0f4;
  transform: translateY(-5px);
}
.vision-section hgroup h2 {
  font-size: 32px;
}
.vision-section hgroup p {
  font-size: 24px;
}

/* six section activities section */

.activities-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 70vh;
}

.activities-section h2 {
  font-size: 3rem;
}

.activities-section div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 100%;
  background: #110e39;
  border-radius: 2rem;
  color: aliceblue;
  padding: 50px;
}
.activities-section div img {
  height: 90%;
  pointer-events: none;
}

.activities-section div h3 {
  font-size: 2rem;
  position: relative;
  right: 30px;
}

.activities-section div h3::after {
  content: "};";
  opacity: 0.3;
  font-size: 6rem;
  position: absolute;
  left: -55px;
  bottom: -45px;
}

.activities-section div h3::before {
  content: "{";
  opacity: 0.3;
  font-size: 6rem;
  position: absolute;
  right: -30px;
  top: -55px;
}

.activities-section hgroup {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10%;
  flex-direction: column;
}
.activities-section div ul {
  padding: 0 25px;
}

.activities-section div li {
  font-size: 24px;
}

/* global classes */
.linearSpan {
  background: linear-gradient(90deg, #00668e, #00b0f4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.secondary-button {
  width: 14%;
  height: 6%;
  background: #00b0f4;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.secondary-button:hover {
  background-color: white;
  color: #00b0f4;
  border: 1px solid #00b0f4;
}

/* glows */

.home-container > main > div {
  position: absolute;
  width: 750px;
  height: 750px;
  border-radius: 300px;
  background: radial-gradient(circle, #00aff463, transparent 70%);
  position: absolute;
  z-index: 1;
  bottom: 0;
  transform-origin: left;
}

/* section one */
.home-container > main > div:nth-child(7) {
  top: 2%;
  left: -20%;
  background: radial-gradient(circle, #0058a083, transparent 70%);
}
.home-container > main > div:nth-child(8) {
  top: -10%;
  right: -20%;
}

/* section tow */
.home-container > main > div:nth-child(9) {
  top: 15%;
  right: -30%;
  background: radial-gradient(circle, #0058a083, transparent 70%);
}

.home-container > main > div:nth-child(10) {
  top: 20%;
  left: -30%;
}

/* section three */
.home-container > main > div:nth-child(11) {
  bottom: 45%;
  right: -23%;
  background: radial-gradient(circle, #00bdc183, transparent 70%);
}

.home-container > main > div:nth-child(12) {
  bottom: 43%;
  left: -23%;
  background: radial-gradient(circle, #4285f483, transparent 70%);
}

/* section four */
.home-container > main > div:nth-child(13) {
  bottom: 35%;
  right: -2%;
  background: radial-gradient(circle, #0058a02f, transparent 70%);
}

.home-container > main > div:nth-child(14) {
  bottom: 20%;
  left: -5%;
  background: radial-gradient(circle, #00aff424, transparent 70%);
}

/* section five */
.home-container > main > div:nth-child(15) {
  bottom: 20%;
  right: -25%;
  background: radial-gradient(circle, #00bdc183, transparent 70%);
}

.home-container > main > div:nth-child(16) {
  bottom: 10%;
  left: -20%;
  background: radial-gradient(circle, #4285f483, transparent 70%);
}

/* section six */
.home-container > main > div:nth-child(17) {
  bottom: 0%;
  right: -20%;
  background: radial-gradient(circle, #0058a036, transparent 70%);
}

.home-container > main > div:nth-child(18) {
  background: radial-gradient(circle, #0058a083, transparent 70%);
  bottom: 0%;
  left: 10%;
}

/* mobile style */

@media (max-width: 768px) {
  .home-container main {
    padding: 0 30px;
    overflow: hidden;
  }

  section a {
    width: 50%;
  }
  .hero-section {
    height: 80vh;
    & > img {
      width: 100%;
      height: 50%;
      left: -30%;
      z-index: -1;
    }
    & > h1 {
      font-size: 3rem;
    }
    & > p {
      font-size: 2rem;
    }
  }
  .mission-section {
    height: 40vh;
    & > p {
      font-size: 1.5rem;
    }
  }
  .objectives-section {
    height: 70vh;
    position: relative;
    & > hgroup > h2 {
      font-size: 1.5rem;
    }
    & > hgroup > ul > li {
      font-size: 1rem;
    }
    & > img {
      position: absolute;
      opacity: 0.3s;
    }
  }
}
